.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.character-list {
  display: flex;
  flex-wrap: wrap;
}

.character {
  display: flex;
}

.character-content {
  margin-left: 2rem;
}

.cahracter-episode {
  margin-top: 2rem;
}
